@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.nav{
    position:absolute;
    height:80px;
    width: 100%;
    display: flex;
}

.nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 80px;
    background-color: rgb(3, 6, 41);
}

.nav .logo h1{
    font-size: 25px;
    color:#fff;
    font-weight: 700;
}

.nav .menu{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    font-size: 20px;
    font-weight: 300;
}

.main{
    display: flex;
    height: 100%;
    width: 100%;
}

.main .left{
    flex: 1;
    height: 100%;
    background-color: #fef363;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/6fe99c16500601.562acd515de7e.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
}

.main .left .social {
    position: absolute;
    bottom: 20%;
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.main .left .social span{
    display: inline-block;
    text-transform: uppercase;
    transform: rotate(90deg);
    white-space: nowrap;
    font-size: 1em;
    font-weight: 500;
}

.main .left .social span:nth-child(2){
    border-bottom: 1px solid #000;
    width: 100px;
}

.main .left .btn{
    position: absolute;
    bottom: 18%;
    left: 24%;
}

.main .left .btn a{
    text-decoration: none;
    padding: 20px 50px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.main .left .btn a:hover{
    background-color: #fff;
    color: #000;
}

.main .right{
    flex: 1;
    height: 100%;
}

.right .content {
    position: absolute;
    top: 25%;
    right:10%
}

.right .content h1{
    font-size: 50px;
    font-weight: 600;
}

.right .content p{
    padding-top: 20px;
    font-size: 20px;
    opacity: 0.5;
}

.right .container {
    position: absolute;
    top: 50%;
    right: 10%;
    display: flex;
    margin-top: 80px;
    gap: 50px;
}

.right .container .image{
    height: 250px;
    width: 250px;
    background-position: 0% 0%;
    background-size: cover;
    position: relative;
}

.right .container .image1{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/e4281016500601.562accdadd803.jpg);
}

.right .container .image2{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/7a481a16500601.562acd53ae820.jpg)
}

.right .container .image3{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/448c1116500601.562acd08ac414.jpg)
}

.right .slider-navigator{
    position: absolute;
    bottom: 5%;
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;
}

.right .slider-navigator .count{
    flex: 1;
    font-size: 30px;
    color: rgb(214, 214, 219);
    border-bottom: 2px solid #000;
}

.right .slider-navigator .slider{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50px;
    white-space: nowrap;
    font-size: 20px;
}

.right .slider-navigator .slider .prev{
    display: flex;
    align-items: center;
    width: 50%;
}

.right .slider-navigator .slider .next{
    display: flex;
    align-items: center;
}

.right .slider-navigator .slider .change{
    margin: 0 20px;
    padding: 5px;
    background-color: rgb(231, 232, 240);
}