@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@font-face {
    font-family: 'valencia';
    src: url('../fonts/Valencia.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hikou outline';
    src: url('../fonts/Hikou\ Outline.otf') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    position: relative;
}

.container{
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 0%;
    animation: container-reveal 1s forwards;
    animation-delay: 4.7s;
    z-index: 909;
    background-color: #010a14;
}

.preloader h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: Satisfy;
    color: #fff;
    opacity: 0;
    font-weight: 200;
    z-index: 990;
    animation: preloader-header 3.5s forwards;
    animation-delay: 0.5s;
}

.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0%;
    width: 0%;
    border-radius: 50%;
    background-color: #01070f;
    animation: preloader-reveal 1.5s forwards;
    animation-delay: 3.9s;
}

.main .heading h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 125px;
    font-weight: 100;
    line-height: 1.1em;
    color: transparent;
    font-family: 'valencia';
    height: 150px;
    width: 450px;
    padding-left: 20px;
    animation: text-reveal 1s ease-in forwards;
    animation-delay: 6.4s;
    z-index: 995;
}

.main .heading h1::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #1C2833;
    animation: overlay 1.6s ease forwards;
    z-index: 996;
    animation-delay: 5.8s;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.main .heading{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.navbar{
    position: absolute;
    height: 100px;
    width: 100%;
    opacity: 0;
    z-index: 998;
    display: flex;
    justify-content: space-between;
    animation: navbar-reveal 1s forwards;
    animation-delay: 7.4s;
}

.navbar .logo{
    font-family: Satisfy;
    font-weight: 700;
    font-size: 20px;
    padding: 40px 100px;
    justify-content: center;
    color: #fff;
}

.navbar .logo span{
    animation: nav-logo-animate 1s forwards;
    display: inline-block;
    opacity: 0;
}

.navbar .logo span:nth-child(1){
    animation-delay: 8.2s;
}

.navbar .logo span:nth-child(2){
    animation-delay: 8s;
}

.navbar .logo span:nth-child(3){
    animation-delay: 7.8s;
}

.navbar .logo span:nth-child(4){
    animation-delay: 7.6s;
}



@keyframes nav-logo-animate {
    100%{
        transform: translate(20px);
        opacity: 1;
    }
}

.navbar .nav-links{
    display: flex;
    padding: 40px 100px;
}

.navbar .nav-links li{
    list-style-type: none;
    justify-content: center;
    padding-left: 50px;
    transform: translate(0,-20px);
    animation: nav-links-animate 1s ease forwards;
}

.navbar .nav-links li:nth-child(1){
    animation-delay: 7.4s;
}

.navbar .nav-links li:nth-child(2){
    animation-delay: 7.6s;
}

.navbar .nav-links li:nth-child(3){
    animation-delay: 7.8s;
}

.navbar .nav-links li:nth-child(4){
    animation-delay: 8s;
}

.navbar .nav-links li a{
    text-decoration: none;
    font-family: Satisfy;
    font-weight: 500;
    color: #fff;
    font-size: 25px;
}

@keyframes nav-links-animate {
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

section .container-box{
    height: 200px;
    min-width: 200px;
    width: 200px;
    position: absolute;
    right: 100px;
    top: 37%;
    right: 15%;
    z-index: 990;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section .container-box .element{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fff;
    scale: 0.75;
}


.social{
    position: absolute;
    height: 90%;
    width: 100px;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 993;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px ;
}

.social .links{
    padding: 20px 0;
    animation: social-reveal 1s forwards;
}

.social .links:nth-child(1){
    opacity: 0;
    animation-delay: 7.6s;
}

.social .links:nth-child(2){
    opacity: 0;
    animation-delay: 7.8s;
}

.social .links:nth-child(3){
    opacity: 0;
    animation-delay: 8s;
}

.social .links a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}

.ri-instagram-line{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.ri-twitter-line{
    color: dodgerblue;
}

.ri-facebook-circle-fill{
    color: #3b5998;
}

@keyframes overlay {
    50%{
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text-reveal {
    100%{
        color: #fff;
    }
}

@keyframes bg-reveal {
    100%{
        width:50%;
        background-color: #fff;
    }
}

@keyframes preloader-reveal {
    100%{
        height: 3000px;
        width: 3000px;
        border-radius: 50%;
    }
}

@keyframes preloader-header {
    50%{
        opacity:1;
    }
    100%{
        opacity: 0;

    }
}

@keyframes container-reveal {
    100%{
        width: 125%;
        left: 0%;
    }
}

@keyframes navbar-reveal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes social-reveal {
    0%{
        opacity: 0;
        transform: translate(20px);
    }
    100%{
        opacity: 1;
        transform: translate(-20px);
    }
}
