@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@font-face {
    font-family: 'valencia';
    src: url('../fonts/Valencia.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hikou outline';
    src: url('../fonts/Hikou\ Outline.otf') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    position: relative;
}

 body::-webkit-scrollbar{
    display: none;
}

.container{
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 0%;
    animation: container-reveal 1s forwards;
    animation-delay: 5.9s;
    z-index: 909;
    background-color: #010a14;
}

.preloader h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: Satisfy;
    color: #fff;
    opacity: 0;
    font-weight: 200;
    z-index: 990;
    animation: preloader-header 3.5s forwards;
    animation-delay: 0.5s;
}

.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0%;
    width: 0%;
    border-radius: 50%;
    background-color: #01070f;
    animation: preloader-reveal 2s forwards;
    animation-delay: 3.9s;
}

.main .heading h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 125px;
    font-weight: 100;
    line-height: 1.1em;
    color: transparent;
    font-family: 'valencia';
    height: 150px;
    width: 450px;
    padding-left: 20px;
    /* for stroke animation */
    /* animation: text-reveal 0.2s ease-in forwards; */ 
    animation: text-reveal 1s ease-in forwards;
    animation-delay: 8s;
    z-index: 995;
}

.main .heading h1::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #1C2833;
    animation: overlay 2s ease forwards;
    z-index: 996;
    animation-delay: 6.9s;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.main .heading{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.navbar{
    position: absolute;
    height: 100px;
    width: 100%;
    opacity: 0;
    z-index: 998;
    display: flex;
    justify-content: space-between;
    animation: navbar-reveal 2s forwards;
    animation-delay: 9s;
}

.navbar .logo{
    font-family: Satisfy;
    font-weight: 700;
    font-size: 20px;
    padding: 40px 100px;
    justify-content: center;
    /* text-transform: uppercase; */
    color: #fff;
}

.navbar .nav-links{
    display: flex;
    padding: 40px 100px;
}

.navbar .nav-links li{
    list-style-type: none;
    justify-content: center;
    padding-left: 50px;
}

.navbar .nav-links li a{
    text-decoration: none;
    /* text-transform: uppercase; */
    font-family: Satisfy;
    font-weight: 500;
    color: #fff;
    font-size: 25px;
}

/* section{
    height: 100vh;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 100%;
    z-index: 999;
} */



@keyframes overlay {
    50%{
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text-reveal {
    100%{
        /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
        color: #fff;
    }
}

@keyframes bg-reveal {
    100%{
        width:50%;
        background-color: #fff;
    }
}

@keyframes preloader-reveal {
    100%{
        height: 3000px;
        width: 3000px;
        border-radius: 50%;
    }
}

@keyframes preloader-header {
    50%{
        opacity:1;
    }
    100%{
        opacity: 0;

    }
}

@keyframes container-reveal {
    100%{
        width: 125%;
        left: 0%;
    }
}

@keyframes navbar-reveal {
    0%{
        opacity: 0;
        transform: translate(0,-20px);
    }
    100%{
        opacity: 1;
        transform: translate(0,20px);
    }
}