@font-face {
    font-family: 'valencia';
    src: url(../font/Valencia.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hikou outline';
    src: url('../font/Hikou\ Outline.otf') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 0;
    overflow: hidden;
    animation: bg-reveal 1s ease forwards;
    position: relative;
}

.container{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 70%;
    background-color: #17202A;
}

.main .heading h1 {
    position: relative;
    font-size: 125px;
    font-weight: 100;
    line-height: 1.1em;
    color: transparent;
    font-family: 'valencia';
    height: 150px;
    width: 450px;
    padding-left: 20px;
    animation: text-reveal 1s forwards;
    animation-delay: 2s;
}

.main .heading h1::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #1C2833;
    animation: overlay 2s ease forwards;
    animation-delay: 1s;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.main .heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes overlay {
    50%{
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text-reveal {
    100%{
        color:#fff;
    }
}

@keyframes bg-reveal {
    100%{
        width:100%;
        background-color: #011827;
    }
}