@import url('https://fonts.googleapis.com/css2?family=Alexandria');

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Alexandria;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container .left{
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #101218;
    z-index: -999;
}

.left .left-navbar .logo{
    position: absolute;
    margin-top: 40px;
    left: 60px;
}

.left .left-navbar .logo h3{
    color: #e9e0d6;
    letter-spacing: 1px;
    font-weight: 600;
}

.left .left-navbar .logo span{
    color: #fb672c;
}

.left .heading{
    position: absolute;
    top: 20%;
    left: 22%;
}

.left .heading h1{
    font-size: 80px;
    color: #e3cfb9;
    font-weight: 600;
    line-height: 35px;
}

.left .left-info-container{
    position: absolute;
    height: 180px;
    width: 300px;
    bottom: 25%;
    background-color: #2a3138;
}

.left .left-info{
    position: relative;
    padding-left: 50%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left .left-info h2{
    color: #f3f0ec;
}

.left .left-info p{
    color: #50555c;
}

.left .left-bottom{
    position: absolute;
    height: 28px;
    width: 200px;
    background-color: #fb672c;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

.left .left-bottom h3{
    color: #f3f0ec;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 70%;
}

.container .right{
    width: 50%;
    height: 100%;
    background-color: #161c24fa;
    position: relative;
}


.container .right .right-navbar i{
    position: absolute;
    margin-top: 60px;
    right: 60px;
    font-size: 20px;
    color: #f3f0ec;
}

.right .blured-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.right .blured-text h1:nth-child(1){
    position: absolute;
    top: -55%;
    left: -8%;
    font-size: 250px;
    color: #12161d65;
}

.right .blured-text h1:nth-child(2){
    position: absolute;
    top: -10%;
    left: -8%;
    font-size: 250px;
    color: #12161d65;
}

.right .right-info-container{
    position: absolute;
    bottom: 25%;
    right: 0;
}

.right .right-info{
    position: absolute;
    bottom: 25%;
    height: 180px;
    width: 450px;
    right: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #101218;
}

.right .right-info .right-info-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-15%);
}

.right .right-info .right-info-text h2{
    color: #f3f0ec;
}
.right .right-info .right-info-text p{
    color: #50555c;
}

.right .right-forwards-logo{
    position: absolute;
    color: #f3f0ec;
    font-size: 25px;
    bottom: 50%;
    right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right .right-info .right-info-logo{
    color: #fb672c;
    font-size: 30px;
    position: relative;
    display: flex;
    left: 34%;
    bottom: 42%;
    justify-content: center;
}

.right .right-bottom{
    position: absolute;
    bottom: 6%;
    right: 40px;
}

.right .right-bottom h3{
    color: #f3f0ec;
    text-transform: uppercase;
    font-size: 14px;
}

.right .main-image {
    position: absolute;
    top: 10%;
    left: -25%;
    z-index: 1000;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/tumbler_3000x-PhotoRoom.png-PhotoRoom.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.5);
    filter: contrast(140%)
}

.right .ring {
    position: relative;
    top: 13%;
    color: #fb672c;
    font-size: 300px;
}